
<div class="container w-50">
    <div class="pb-3">
        <button mat-flat-button color="primary">
            Volver
            <mat-icon>replay</mat-icon>
        </button>
    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>User Detail</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../../../../assets/img/R.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting
                </p>
            </mat-card-content>
            <!-- <mat-card-actions> 
                <button mat-button routerLink="users">Volver</button>
                <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
    </div>
</div>

