<mat-drawer-container class="example-container" autosize>
    <mat-drawer 
        style="width: 200px" 
        #drawer 
        class="example-sidenav" 
        mode="side"
        position="start">

        <mat-nav-list>
            <mat-list-item routerLink="home"
            routerLinkActive #homeLink="routerLinkActive"
            [activated]="homeLink.isActive"
            (click)="drawer.toggle()">
                <a>Home</a>
            </mat-list-item>
            <mat-list-item routerLink="users" 
            routerLinkActive #usuariosLink="routerLinkActive"
            [activated]="usuariosLink.isActive"
            (click)="drawer.toggle()"
            *ngIf="(userRole$ |async) === 'ADMIN'"
            >
                <a>Usuarios</a>
            </mat-list-item>
            <mat-list-item routerLink="courses"
            routerLinkActive #cursosLink="routerLinkActive"
            [activated]="cursosLink.isActive"
            (click)="drawer.toggle()">
                <a>Cursos</a>
            </mat-list-item>
            <mat-list-item routerLink="students"
            routerLinkActive #alumnosLink="routerLinkActive"
            [activated]="alumnosLink.isActive"
            (click)="drawer.toggle()">
                <a>Alumnos</a>
            </mat-list-item>
            <mat-list-item routerLink="enrollments"
            routerLinkActive #enrollmentsLink="routerLinkActive"
            [activated]="enrollmentsLink.isActive"
            (click)="drawer.toggle()">
                <a>Inscripciones</a>
            </mat-list-item>
            <mat-list-item routerLink="customers"
            routerLinkActive #customersLink="routerLinkActive"
            [activated]="customersLink.isActive"
            (click)="drawer.toggle()">
                <a>Clientes</a>
            </mat-list-item>
            <br>
            <mat-divider></mat-divider>
            <br>
            <mat-list-item>
                <mat-icon>account_circle</mat-icon>
                <a>{{" " +(authUsers$ | async)?.name + " " + (authUsers$ | async)?.lastName}}</a>
            </mat-list-item>
            <mat-list-item routerLink="" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <a> Cerrar Sesión</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content d-flex flex-column justify-content-start">
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span appFontSize [fontSize]="'20px'">ERP</span>
            <span class="example-spacer"></span>
            <button mat-button [matMenuTriggerFor]="menucli">Clientes</button>
            <mat-menu #menucli="matMenu">
                <button mat-menu-item>Empresas</button>
                <button mat-menu-item>Residenciales</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menucont">Contabilidad</button>
            <mat-menu #menucont="matMenu">
                <button mat-menu-item>Caja Rio Grande</button>
                <button mat-menu-item>Caja Tolhuin</button>
                <button mat-menu-item>Caja Ushuaia</button>
                <button mat-menu-item>Caja Diaria Rio Grande</button>
                <button mat-menu-item>Caja Diaria Tolhuin</button>
                <button mat-menu-item>Caja Diaria Ushuaia</button>
                <button mat-menu-item>Cierre Caja Diaria Rio Grande</button>
                <button mat-menu-item>Cierre Caja Diaria Tolhuin</button>
                <button mat-menu-item>Cierre Caja Diaria Ushuaia</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menupro">Proyectos</button>
            <mat-menu #menupro="matMenu">
                <button mat-menu-item>Proyectos</button>
                <button mat-menu-item>Tareas</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menuadm">RRHH</button>
            <mat-menu #menuadm="matMenu">
                <button mat-menu-item>Horas Extras</button>
                <button mat-menu-item>Vacaciones</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menufac">Financiera</button>
            <mat-menu #menufac="matMenu">
                <button mat-menu-item routerLink="invoices"
                routerLinkActive #financialLink="routerLinkActive"
                >Facturas</button>
                <button mat-menu-item>Remitos</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menupre">Comercial</button>
            <mat-menu #menupre="matMenu">
                <button mat-menu-item>Presupuestos</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menuusr">Usuarios</button>
            <mat-menu #menuusr="matMenu">
                <button mat-menu-item>Usuarios</button>
                <button mat-menu-item>Administradores</button>
            </mat-menu>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
        <main style="padding: 1rem;">
            <router-outlet></router-outlet>
        </main>
    </div>
</mat-drawer-container>