
<form [formGroup]="userForm">
    <div class="row">
        <div class="col-6">
            <mat-form-field class="w-100">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput type="text">
                <mat-error>
                    Campo Invalido
                </mat-error>
                <mat-hint>Al menos 3 letras</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="w-100">
                <mat-label>Apellido</mat-label>
                <input formControlName="lastName" matInput type="text">
                <mat-hint>A</mat-hint>
            </mat-form-field>
        </div>
    </div>
</form>